.logo {
    background: url('../../images/logo-purple.png') 0 0 no-repeat;
    color: #b621c8;
}

.logo strong {
    color: #b621c8;
}

a{
    color:#b621c8;
 }

a:hover,  a:active,  a:focus {
    color:#b621c8;
 }

::selection {
    background:#b621c8;
}

::-moz-selection{
    background:#b621c8;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus{
    border-color:#b621c8;
}


/*-----------------------------------------------------------------*/
/* Common Elements
/*-----------------------------------------------------------------*/

.btn-default {
    background:#b621c8;
    border: 1px solid #b621c8;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    background:#b621c8;
    border-color:#b621c8;
}

.scrollup {
    background-color: #b621c8;
}

.scrollup:hover{
    background: rgba(252,54,44,0.6);

}

.loader i{
    color: #b621c8;
}

.overlay {
    background:rgba(33,42,52,0.6);
}

.slider-overlay {
    background: rgba(33,42,52,.6);
}

#main-menu ul li a:hover {
    color: #b621c8;
}

#main-menu ul li.active > a, #main-menu ul li.active.has-child > a {
    color: #b621c8;
    box-shadow: inset 0 -4px 0 #b621c8;
}

.navbar-toggle {
    color:#b621c8;
}

.services-box .services-icon {
    color: #b621c8;
}

.services-box:hover .services-icon {
    color: #b621c8;
    border: 1px solid #b621c8;
}


.filter.active:after{
    background:#b621c8;
}

.work-item  .work-info .work-info-detail h4:after {
    background:#b621c8;
}


.team-member .team-info:hover{
    background:#b621c8;
}

.team-member .socials li a {
    color: #b621c8;
} 

.team-member .team-info .socials li a:hover{
     color:#b621c8;
}

.team-member:hover .team-info {
    background: #b621c8;
}


.features-left .features-icon, .features-right .features-icon{
    color: #b621c8;
}

.features-item:hover .features-icon{
    border-color:#b621c8;
    color:#b621c8;
}

#testimonials .owl-controls .owl-page.active span {
    background:#b621c8 !important;
    border:1px solid #b621c8;
} 
 
.clients-carousel  figure:hover{
    background: #b621c8;
}

.contact-address i {
    border: 1px solid rgba(236, 240, 241, 1);
}



.single-work-slider .owl-prev, .single-work-slider .owl-next{
    background:#b621c8 !important;
}

.post-img  {
    background: rgb(179, 204, 102);
}

.comment-form input, .search-box input, .comment-form textarea{
    color: #b621c8;
}

.comment-list ol .comment-name a.comment-reply {
    color:#b621c8;
}

.comment-list ol .comment-detail {
    color: #b621c8;
}

.post-categories a:hover{
    color:#b621c8;
}

.sidebar-widget a:hover{
    color:#b621c8;
}

.sidebar-widget p.date{
    color: #b621c8;
}

.tags a{
    background:#b621c8;
}

footer ul.footer-social li a:hover {
    border: 2px solid #b621c8;
    color:#b621c8;

}

.featured-works .owl-prev, .featured-works .owl-next{
    background:#b621c8 !important;
}

.featured-works .item .hover-link a {
    background:#b621c8;
}

.post-meta a {
    color:#b621c8;
}

blockquote{
    border-left: 5px solid #b621c8;
}