extends layout
block body
  // Main jumbotron for a primary marketing message or call to action
  .jumbotron
    .container
      h1 Audit Your Website Security with SOFTSKY Internet Security Audit Platform    
      .row.p-t-3
        .col-md-6
          img(src='/img/vulnerability-scanner-ovs.jpg')
        .col-md-6
          p.p-t-3
            | Website security must be a priority in any organization but remains overlooked. Hackers continue to concentrate on web-based applications – shopping carts, forms, login pages, dynamic content, etc. Web applications are accessible 24/7 and control valuable data since they often have direct access to back-end data.
          p
            a.btn.btn-info(href='#', role='button') Read more &raquo;
            
      .row
        .col-md-6
          p.p-t-3
            | Website security is today's most overlooked aspect of securing an enterprise and should be a priority in any organization. Increasingly, hackers are concentrating their efforts on web-based applications – shopping carts, forms, login pages, dynamic content, etc. Accessible 24/7 from anywhere in the world, insecure web applications provide easy access to backend corporate databases and also allow hackers to perform illegal activities using the attacked sites. A victim’s website can be used to launch criminal activities such as hosting phishing sites or to transfer illicit content, while abusing the website’s bandwidth and making its owner liable for these unlawful acts.
          p
            a.btn.btn-info(href='#', role='button') Read more &raquo;
            
        .col-md-6          
          img(src='/img/screenshot-1.png')
  .container
    // Example row of columns
    .row
      h2 SOFTSKY Internet Security Audit Platform scans off-the-shelf and custom-built websites and web applications for SQL Injection, XSS, XXE, SSRF, Host Header Attacks & over 3000 other web vulnerabilities.
    
      .col-md-12
        h3 Firewalls, SSL and Hardened Networks Are Futile Against Web Application Hacking
        p
          | Cyber criminals are focusing their efforts on exploiting weaknesses in web applications such as eCommerce platforms, blogs, login pages and other dynamic content. Insecure web applications and web services not only provide attackers access to backend databases but also allow them to perform illegal activities using compromised sites.
          | Web application attacks are carried out over HTTP and HTTPS; the same protocols that are used to deliver content to legitimate users. Yet web application attacks, both on free open-source software, such as WordPress, Drupal and Joomla!, as well as commercial or custom-built applications, can have repercussions that are the same, or worse than traditional network-based attacks.
        p
          a.btn.btn-info(href='#', role='button') View details &raquo;
    .row
      .col-md-12
        h3 The Technology Leaders in Automated Web Application Security
        p
          | DeepScan Technology allows accurate crawling of AJAX-heavy client-side Single Page Applications (SPAs) that leverage complex technologies such as SOAP/WSDL, SOAP/WCF, REST/WADL, XML, JSON, Google Web Toolkit (GWT) and CRUD operations.
          | Industry’s most advanced and robust SQL Injection and Cross-site Scripting testing, including advanced detection of DOM-based Cross-site Scripting.
          | AcuSensor Technology allows accurate scanning further reducing the false positive rate, by combining black box scanning techniques with feedback from its sensors placed inside the source code.
        p
          a.btn.btn-info(href='#', role='button') View details &raquo;
    .row
      .col-md-12
        h3 Fast, Accurate, Easy to Use
        p
          | Multi-threaded, lightning fast crawler and scanner that can crawl hundreds of thousands of pages without interruptions.
          | Highest detection of WordPress vulnerabilities – scans WordPress installations for over 1200 known vulnerabilities in WordPress’ core, themes and plugins.
          | An easy to use Login Sequence Recorder that allows the automatic crawling and scanning of complex password protected areas including multi-step, Single Sign-On (SSO) and OAuth-based websites.
          | Easily generate a wide variety of technical and compliance reports aimed towards developers and business owners alike.
        p
          a.btn.btn-info(href='#', role='button') View details &raquo;

