extends layout
block body
  // Main jumbotron for a primary marketing message or call to action
  .jumbotron
    .row.p-t-3
          .col-md-6
            h1 Audit Your Website Security 
            h3 with 
              strong SOFTSKY Internet Security Audit Platform
            p.p-t-3
              strong Website security 
              |must be a priority in any organization but remains overlooked. 
              strong Hackers 
              |continue to concentrate on web-based applications – 
              strong shopping carts, forms, login pages, dynamic content, 
              | etc. Web applications are accessible 24/7 and control valuable data since they often have 
              strong direct access to back-end data.
            p
              a.btn.btn-lg.btn-success(href='/online-scan', role='button') Scan now for FREE &raquo;
          // video column
          .col-md-6
            .pull-md-right
              .embed-responsive.embed-responsive-4by3
                iframe.embed-responsive-item(src='//www.wevideo.com/embed/#753441937')
  .row.hidden
      .col-md-4
        h3
          strong The Technology Leaders in Automated Web Application Security
        img.img-circle.img-responsive.img-center(src="/img/security-vulnerabilities-300.jpg", style="height:300px;width:300px")
        p
        p.p-t-3
          | Website security is today's most overlooked aspect of securing an enterprise and should be a priority in any organization. Increasingly, hackers are concentrating their efforts on web-based applications – shopping carts, forms, login pages, dynamic content, etc. Accessible 24/7 from anywhere in the world, insecure web applications provide easy access to backend corporate databases and also allow hackers to perform illegal activities using the attacked sites. A victim’s website can be used to launch criminal activities such as hosting phishing sites or to transfer illicit content, while abusing the website’s bandwidth and making its owner liable for these unlawful acts.
        p
          a.btn.btn-info(href='/online-scan#website/0', role='button') Free Site Scan &raquo;

      .col-md-4
        h3 
          strong The Technology Leaders in Automated Web Application Security
        img.img-circle.img-responsive.img-center(src="/img/photodune-5807526-internet-security-concept-xs-300.jpg", style="height:300px;width:300px")
        p
        p
          | DeepScan Technology allows accurate crawling of AJAX-heavy client-side Single Page Applications (SPAs) that leverage complex technologies such as SOAP/WSDL, SOAP/WCF, REST/WADL, XML, JSON, Google Web Toolkit (GWT) and CRUD operations.
          | Industry’s most advanced and robust SQL Injection and Cross-site Scripting testing, including advanced detection of DOM-based Cross-site Scripting.
          | AcuSensor Technology allows accurate scanning further reducing the false positive rate, by combining black box scanning techniques with feedback from its sensors placed inside the source code.
          p
            a.btn.btn-lg.btn-info(href='/online-scan#webserver/0', role='button') Free Server Scan &raquo;

      .col-md-4
        h3 
          strong The Technology Leaders in Automated Web Application Security
        img.img-circle.img-responsive.img-center(src="/img/wordpress_security-300.jpg", style="height:300px;width:300px")
        p
        p.p-t-3
          | Cyber criminals are focusing their efforts on exploiting weaknesses in web applications such as eCommerce platforms, blogs, login pages and other dynamic content. Insecure web applications and web services not only provide attackers access to backend databases but also allow them to perform illegal activities using compromised sites.
          | Web application attacks are carried out over HTTP and HTTPS; the same protocols that are used to deliver content to legitimate users. Yet web application attacks, both on free open-source software, such as WordPress, Drupal and Joomla!, as well as commercial or custom-built applications, can have repercussions that are the same, or worse than traditional network-based attacks.
        p
          a.btn.btn-info(href='/online-scan#wordpress/0', role='button') Free Wordpress Scan &raquo;
  .row
    .col-md-12.lead.bs-callout.bs-callout-danger
      h3 
        strong Why SOFTSKY
      h3 Ease of Use
      |Our reports are 
      .label.label-danger simple and easy to understand

      h3 Professional Scanning/Penetration Test
      |Behind SOFTSKY stands tech savvy people, with 
      .label.label-warning 15+ years of experience

      h3 Detailed Reporting
      |Finding security holes is only beginning. You also need to 
      .label.label-info visualize your problems with management,
      |  and 
      .label.label-danger then fix them.

      h3 During/Post Audit Technical Support
      |With SOFTSKY you 
      .label.label-warning will get every bit of help
      |  you need and even more.

      h3 Immediate Notifications
      |Time is money and SOFTSKY has been created with this in mind. In case, it find 
      .label.label-danger any vulnerabilities 
      |  it sends out an 
      .label.label-warning immediate notification 
      |  to you via email and you’ll be able to keep your 
      .label.label-info network infrastructure safe.

      h3 No Downloads. No Compclicated Set Up
      |SOFTSKY is an effortless and easy to use service that allows you to do 
      .label.label-info everything from your browser.
      |  This makes setup and maintenance a breeze.      
      p
      p
      p
        a.btn.btn-lg.btn-success(href='/online-scan#webserver/0', role='button') Free Scan Round &raquo;


  hr
  .row
    .col-md-12.lead.bs-callout.bs-callout-info
      h3 
        strong How SOFTSKY Can Help You Stay Safe?
      |Nowadays, 
      .label.label-danger website security 
      |must be a priority in any organization but remains overlooked. That’s why hackers continue to concentrate and destroy on web-based applications – like shopping carts, 
      .label.label-info forums, login pages, dynamic content, CMSs
      |, etc. With that in mind, we developed 
      .label.label-warning SOFTSKY.
      |The service will help you to secure your web data. Using us, you’ll be able to stay ahead of hackers and focus on others important deals. SOFTSKY offers maximum benefit for you.
      p
      p
      p
        a.btn.btn-lg.btn-success(href='/online-scan#webserver/0', role='button') Free Scan Round &raquo;

  .row  
    .col-md-12.lead.bs-callout.bs-callout-warning.lead
      h3 
        strong How It Works
      p.label.label-danger 1.
      |  You 
      .label.label-success order security audit
      |  and get an order confirmation, instantly
      br
      p.label.label-danger 2.
      |  We 
      .label.label-info perform 1st pentest
      |  and provide your with recommendations
      br
      p.label.label-danger 3.
      |  Your team is 
      .label.label-warning fixing website/project
      |   vulnerabilities. We consult.
      br
      p.label.label-danger 4.
      |  We 
      .label.label-info perform 2nd pentest
      |  for you. So 2 pentests for the price of one
      br
      p.label.label-danger 5.
      |  You 
      .label.label-danger enjoying
      |  the result! 
      p
      p
      p
        a.btn.btn-lg.btn-success(href='/online-scan#webserver/0', role='button') Free Scan Round &raquo;

  .row
    .col-md-12.bs-callout.bs-callout-danger
      h3
        strong Available Rounds
      .col-md-3.col-sm-6.hero-feature.text-center
        h4 &nbsp;
        .thumbnail
          img(src='http://placehold.it/252x158/aace4844?text=Round 0', alt='')
          .caption
           h3 Quick Scan
           p Quickly Scan your system to detect common mistakes in your website software and/or webserver configuration
           h4 Cost: $0
           p
             a.btn.btn-primary(href='/online-scan#webserver/0') Free Scan!
             //a.btn.btn-default(href='#') More Info
      .col-md-3.col-sm-6.hero-feature(style="background-color: lightblue;").text-center
        h4
          strong MOST POPULAR
        .thumbnail
          img(src='http://placehold.it/252x158/aaaa6708?text=Round 1', alt='')
          .caption
            h3 Full Scan 
            p Performs Complete Automated Scan of your system detecting all vulnerabilities that could be detected by machine.
            h4 Cost: $199
            p
              a.btn.btn-primary(href='/online-scan#webserver/1') Buy Now!
              //a.btn.btn-default(href='#') More Info
      .col-md-3.col-sm-6.hero-feature.text-center
        h4 &nbsp;
        .thumbnail
          img(src='http://placehold.it/252x158/aa1b809e?text=Round 2', alt='')
          .caption
            h3 Human Penetration Testing
            p Performs Complete Manual Scan of your system detecting vulnerabilities, that could be missed by machine.
            h4 Cost: $999
            p
              a.btn.btn-primary(href='/online-scan#webserver/2') Buy Now!
              //a.btn.btn-default(href='#') More Info
      .col-md-3.col-sm-6.hero-feature.text-center
        h4 &nbsp; 
        .thumbnail
          img(src='http://placehold.it/252x158/aaffffff?text=Coming Soon', alt='')
          .caption
            h3 Bug Bounty
            p This is like Ethical Hacking Bug Bounty program performed by Hacking Ninja Squad.
            h4 Cost: Contact us!
            p
              a.btn.btn-primary(href='mailto:support@softsky.com.ua?subject=BugBounty program requested') Contact us!
              //a.btn.btn-default(href='#') More Info
      // /.row
  .row
    .col-md-12.lead.bs-callout.bs-callout-warning
      h3 
        strong Example/Showcase of Reported Security Holes
       pre
         code
           |\ \/ / ___|_   _|
           |\  /\___ \ | |  
           |/  \ ___) || |  
           |/_/\_|____/ |_|  
           |
           |+ -- --=[Cross-Site Tracer v1.3 by 1N3 @ CrowdShield
           |+ -- --=[Target: example.com:80
           |+ -- --=[Site not vulnerable to Cross-Site Tracing!
           |+ -- --=[Site not vulnerable to Host Header Injection!
           |+ -- --=[Site 
           strong vulnerable to Cross-Frame Scripting!
           |
           |+ -- --=[Site 
           strong vulnerable to Clickjacking!
           |
           |
           |HTTP/1.1 404 Not Found
           |X-Powered-By: Express
           |Content-Type: text/html; charset=utf-8
           |Content-Length: 15
           |set-cookie: connect.sid=s%3AUsUEbiI5XhYO556G_ws59U4YWXekWX7Y.c7SZfO8q9xwIGEL7Tx%2BnSgWZzZ6VJnbfnJQIzoNQAXg; Path=/; HttpOnly
           |Date: Fri, 07 Oct 2016 15:09:30 GMT
           |Connection: keep-alive
  .row
    .col-md-12.lead.bs-callout.bs-callout-info
      h3 
        strong SOFTSKY Overview
      .label.label-danger SOFTSKY
      |- the business intelligence service, encompassing all of the essential key 
      .label.label-info security indicators
      |. It aims to check your website/network and delivered in an interactive, comprehensive and detailed report of 
      .label.label-warning security holes
      |. Moreover with SOFTSKY you will save and 
      .label.label-danger improve the quality
      |of web data in your storage. Just take a look at company in numbers: 
      ul
        li 30+ Workaholic Persons
        li 500+ Loyal Customers 
        li 600+ Completed Projects
        li 50+ Cups of Coffee Every Day
      p
      p
      p
        a.btn.btn-lg.btn-success(href='/online-scan#webserver/0', role='button') Free Scan Round &raquo;

  .row
   .col-md-12.bs-callout.bs-callout-warning
     h3
       strong What People Say About SOFSKY
     h5 Why those people love SOFTSKY (and you should, too!) 

     ul.list-unstyled
       li.lead
         strong “We use SOFTSKY to improve security for all our clients worldwide as their work is very comprehensive and their customer service is stellar. They provide useful recommendations to fix the vulnerabilities their checks discover and we highly recommend their services"
         
       li
         .label.label-danger Q
         strong &nbsp;&nbsp;What is your overall satisfaction with reports provided?
         p
           .label.label-warning A
           |&nbsp;&nbsp;Clear notes about the vulnerabilities and recommendations on fixes.

       li
         .label.label-danger Q
         strong &nbsp;&nbsp;Your opinion about NMAP report
         p
           .label.label-warning A
           |&nbsp;&nbsp;Reported which vulnerabilities were present with links to more information on them which helped to fix them.

       li
         .label.label-danger Q
         strong &nbsp;&nbsp;Your opinion about Nikto
         p
           .label.label-warning A
           |&nbsp;&nbsp;Information on what was wrong and links to more info about them.

       li
         .label.label-danger Q
         strong &nbsp;&nbsp;Your opinion about SkipFish report
         p
           .label.label-warning A
           |&nbsp;&nbsp;Gave good tips on what was to be fixed.

       li
         .label.label-danger Q
         strong &nbsp;&nbsp;Your option about NetSparker report
         p
           .label.label-warning A
           |&nbsp;&nbsp;Very detailed and provided valuable information on what vulnerabilities were present and how to go about fixing them.

       li
         .label.label-danger Q           
         strong &nbsp;&nbsp;Any other comments or wishes would be highly appreciated
         p
           .label.label-warning A
           |&nbsp;&nbsp;This is a great service and very useful.
           
       li
         .row
           .col-md-6
             .glyphicon.glyphicon-user.pull-md-right(style="font-size:6em")
           .col-md-6
             strong 
               i Neeraj Kamdar
             p Founder, Orrasis Ltd.
             a(href="https://www.linkedin.com/in/neerajkamdar") LinkedIn Profile URL


  .row
    .col-md-12.lead.bs-callout.bs-callout-info
      h3 
        strong Video
      h3 Take a look at this short video to find out why this is that important to stay secure
      .pull-md-right
        .embed-responsive.embed-responsive-4by3
          iframe.embed-responsive-item(src='//www.wevideo.com/embed/#753441937')