extends layout
block body
    script(src='/js/online-scan.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
    .row
      .col-md-6
        form.form(role='form',action='#')
          h1 Online Scan
          .form-group
            label
              | Website URL            
              .input-group
                span.input-group-addon http://
                input.form-control.btn-space(type='http', id='url', placeholder='example.com', protocol='http', required='true')
          .form-group
            label
              | First Name
              input.form-control.btn-space(type='text', id='firstName', placeholder='John', required='true')
            label.p-l-3
              | Last Name
              input.form-control.btn-space(type='text', id='lastName', placeholder='Doe', required='true')
          .form-group
            label
              | Email
              .input-group
                input.form-control.btn-space.text-righ(type='text', id='email', placeholder='john.doe', required='true')
                span.input-group-addon(id='domain') @example.com
          //.form-group
          // input.form-control.btn-space(type='scan-type', placeholder='Type of scan')  
          .checkbox
           label.control-label
             input.has-warning(type='checkbox', id='agreed', required='true')
             | I've read understood and agree to 
             a(href="/terms-of-service") SOFTSKY Terms of Service

          button.btn.btn-space.btn-success(type='submit') Start Scan
          .scan-result
            dl
      .clearfix.visible-xs-block
      .col-md-6.col-sm-3
        img#screenshot(style='width:100%')
