extends layout
block body
    script(src='/js/online-scan.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js')
    .row
      .col-md-6.col-sm-3
        form.form(role='form')
          h1 Online Scan
          .form-group
            .input-group
              span.input-group-addon http://
              input.form-control.btn-space(type='url', id='url', placeholder='Website URL address')
          .form-group
            input.form-control.btn-space(type='text', id='name', placeholder='Your Name')
          .form-group
            .input-group
              input.form-control.btn-space(type='text', id='email', placeholder='Email')
              span.input-group-addon(id='domain') @mydomain.com
          //.form-group
          // input.form-control.btn-space(type='scan-type', placeholder='Type of scan')  
          button.btn.btn-space.btn-success(type='submit') Start Scan
          .scan-result
            dl
      .clearfix.visible-xs-block
      .col-md-6.col-sm-3
        img#screenshot(style='width:100%')
